{% extends "base.html" %}

{% block content %}
<div class="columns">
  <div class="column content is-two-thirds">
    <h3 class="title">Entries</h3>
    <table class="table is-narrow">
      {% for entry in entries %}
      <tr>
        <td style="width: 1%">
          <time>
            {{entry.timestamp_start|date:"HH:mm"}}
          </time>
        </td>
        <td>
          {{entry.deed_title}}
        </td>
        <td style="width: 1%">
          <span class='tag 
            {% ifequal entry.grade_title "bad" %} is-danger {% endifequal %}
            {% ifequal entry.grade_title "good" %} is-success {% endifequal %}'>
            {{entry.grade_title}}
          </span>
        </td>
      </tr>
      {% endfor %}
    </table>
      <form method="POST" action="/entries">
        {% csrf-field %}
        <div class="field">
          <label for="">Deed:</label>
          <select class="form-control" name="deed_id">
            {% for deed in deeds %}
            <option value="{{deed.id}}">{{deed.title}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="field">
          <label for="">Grade:</label>
          <select class="form-control" name="grade_id">
            {% for grade in grades %}
            <option value="{{grade.id}}">{{grade.title}}</option>
            {% endfor %}
          </select>
        </div>

        <!-- <div class="field">
        <label for="">Time:</label>
        <select class="form-control" name="timestamp_start">
          <option value=""></option>
        </select>
      </div> -->

        <input type="submit" class="button is-primary" />
      </form>

      <hr>

      <h3 class="title">Grades</h3>
      <ul>
        {% for grade in grades %}
        <li>{{grade.title}}</li>
        {% endfor %}
      </ul>
      <form method="POST" action="/grades">
        {% csrf-field %}
        <div class="field">
          <label class="label" for="name">Title</label>
          <input class="input" type="text" name="title" value="{{title}}" />
        </div>
        <input type="submit" class="button is-primary" />
      </form>
      <hr>

      <h3 class="title">Deeds</h3>
      <ul>
        {% for deed in deeds %}
        <li>
          <p>{{deed.title}}</p>
        </li>
        {% endfor %}
      </ul>
      <form method="POST" action="/deeds">
        {% csrf-field %}
        <div class="field">
          <label class="label" for="name">Title</label>
          <input class="input" type="text" name="title" value="{{title}}" />
        </div>
        <input type="submit" class="button is-primary" />
      </form>
  </div>
</div>
{% endblock %}